Content/StarterContent/Audio/
Content/StarterContent/HDRI/
Content/StarterContent/Materials/
Content/StarterContent/Particles/
Content/StarterContent/Shapes/
Content/StarterContent/Textures/

.vs/
Intermediate/
Binaries/
Build/
DerivedDataCache/
Escape_4125.VC.db
Saved/
Escape_4125.VC.VC.opendb
Content/StarterContent/Maps/
